---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import React from "react";
import Cards from "../components/ClictkText";
import "../css/global.css";
---

<Layout title="faq-accordion">
  <div class="bg-imgBack bg-no-repeat bg-[#F8EEFF] h-screen flex items-center justify-center">
    <!-- Centrar la tarjeta en la segunda fila -->

    <Card />
  </div>
</Layout>
