---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import React from 'react';
import Cards from "../components/ClictkText"
import "../css/global.css"

---

<Layout title='faq-accordion'>

	<div class="h-full grid-rows-2">
		<div class="bg-[#F8EEFF] w-full h-full relative ">
			<div class="z-10 w-full bg-imgBack h-60" ></div>
			<div class="absolute transform translate-x-1/2 -translate-y-1/2 position-x ">
				<Card/>
				
			</div>
	
		</div>
	</div>
</Layout>


