@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



.body{
    width: 100vw;
    height: 100vh;
}

.bg-imgBack{
    background-image: url(../public/background-desketop.png);
    background-size: cover;
}

.position-x{
    right: 50%;
    left: 0;
}